/* body {
    background-image: url('gplaypattern.png');
} */

.jumbotron {
    background-color: #1B3061;
    color: #fff;
    min-height: 150px;
    max-height: 150px;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbo-center {
    display: flex;
    align-items: center;
}

#logo {
    vertical-align: center;
}

#school-name {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Crimson Text', serif;
    font-size: 3em;
}

label {
    font-weight: normal;
}

#results {
    line-height: 1.5;
}


